:root {
  --font-family: "Segoe UI", Verdana, sans-serif;
  --bg-color: whitesmoke;
  --border-radius: 5px;
  --btn-bg-up: yellow;
  --btn-bg-down: lightgreen;
  --btn-bg-generate: yellowgreen;
  --btn-bg-hover: #3e8e41;
  --lift-color: aquamarine;
  --lift-gate-color: rgb(49, 101, 101);
  --lift-border: 2px solid;
  --lift-height: 100px;
  --lift-width: 80px;
  --floor-border-size: var(--lift-width);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
}

.floor-input,
.lift-input {
  margin: 5px;
  font-size: 20px;
}

.floor-input input,
.lift-input input {
  background-color: var(--bg-color);
  border: none;
  border-radius: var(--border-radius);
  padding: 5px 10px;
  font-size: 20px;
  outline: none;
  caret-color: rgb(0, 204, 255);
}

.button-floor {
  margin: 2px;
  width: 50px;
  height: 30px;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
}

.up-btn {
  background-color: var(--btn-bg-up);
}

.down-btn {
  background-color: var(--btn-bg-down);
}

.generate-button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--btn-bg-generate);
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, transform 0.3s;
}

.generate-button:hover,
.generate-button:active {
  background-color: var(--btn-bg-hover);
}

.generate-button:active {
  transform: translateY(4px);
}

.lifts {
  position: absolute;
  width: var(--lift-width);
  height: var(--lift-height);
  background-color: var(--lift-color);
  border-radius: var(--border-radius);
  align-items: center;
  border: var(--lift-border);
}

.lifts p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lifts .gate {
  position: absolute;
  height: 100%;
  width: 50%;
  border: 1px solid pink;
  background-color: var(--lift-gate-color);
}

.gateLeft {
  left: 0;
}

.gateRight {
  right: 0;
}

.disabled-lift {
  opacity: 0.5; /* Make the disabled lifts look faded */
  pointer-events: none; /* Prevent interaction with disabled lifts */
  background-color: #ccc; /* Optional: change the background color */
  border: 2px dashed #aaa; /* Optional: change the border style */
}
.floor {
  height: var(--lift-height);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: var(--bg-color);
  /* padding: 5px; */
}

#simulationArea {
  margin: 10px;
  padding: 5px;
}

/* Lift door opening animation */
.door-animation-open {
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-name: LiftDoorOpen;
}

/* Lift door closing animation */
.door-animation-close {
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-name: LiftDoorClose;
}

@keyframes LiftDoorOpen {
  from {
    width: 50%;
  }
  to {
    width: 0%;
  }
}

@keyframes LiftDoorClose {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

/* Media Query for Small Screens */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .generate-button {
    width: 100%;
  }
}
